.lightTheme {
  background-color: white;
  border: 1px solid black;
}

.darkTheme {
  background-color: black;
  border: 1px solid black;
}

.h1ForlightTheme {
  color: black;
}
.h1ForDarkTheme {
  color: white;
}
